* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --bg-color: #fff;
  --bg-button-color: #02799d;
  --text-color: #323238;
  --button-selected-color: #323238;
  --button-default-color:  #E1E1E6;
  --slider-default-color: #323238;
  --slider-selected-color: #ffffff;
}
.hide {
  display: none;
}

body {
  background: var(--bg-color);
  display: grid;
  grid-template-areas: "A B";

  font-family: "Roboto", sans-serif;
  font-size: 12.6rem;
  min-height: 100vh;
}
main {
  display: flex;
  align-self: center;
  justify-self: right;
}

.TimeControls {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin-right: 20rem;
  width: auto;
  max-width: 32.1rem;
  align-items: center;
}
.timer{
  margin-bottom: 5.2rem;
  display: flex;
  line-height: 14.8rem;
}

.timerButtons{
  display: flex;
  gap: 4rem;
  align-items: center;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  }

button svg {
  /* max-width: 4.8rem;
  max-height: 4.8rem; */
}
.soundControls{
  display: grid;
  grid-template-areas: "A B" "C D";
  gap: 3.2rem;
}
.soundControls button{
  background-color: var(--button-default-color);
  border-radius: 24px;
  width: 13.8rem;
  height:  15.2rem;
}
 svg path{
  fill: var( --text-color);

}
@media (max-width: 1050px){
main{
  flex-direction: column;
  align-items: center;
}
.TimeControls{
  margin: 0 0 6rem 0;

}
}